:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  --color-oranged: #ff4500;
  letter-spacing: 0.08rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
}
.body-content {
  width: 1080px;
  min-height: 100vh;
  margin: 0 auto;
  /* background-color: rgb(0, 156, 60); */
  overflow: hidden;
}

header {
  .header-content {
    /* background: linear-gradient(to left top, #00687a, #00a2b8); */
    opacity: 0.9;
    color: var(--color-oranged);
    text-align: right;
    padding: 2rem;
    letter-spacing: 0.08rem;
    border-bottom: 2px solid #616161;
    box-shadow: 1px 1px 10px gray;
  }
}

.main-content {
  /* background-color: rgb(90, 23, 73); */
  width: inherit;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: space-between;

  .seperator {
    position: relative;
    width: 80%;
    height: 1px;
    background-color: #646464;
    margin-top: 1rem;
    margin-bottom: 1rem;

    span {
      position: absolute;
      width: 0.8rem;
      height: 0.8rem;
      background-color: #575757;
      border-radius: 50%;
      top: -0.4rem;
    }
  }

  aside {
    width: 20rem;

    .seperator {
      margin-left: auto;
      span {
        right: -0.4rem;
      }
    }
  }

  main {
    /* background-color: #c5ad22; */
    width: 100%;
    border-left: 1px solid gray;
    .seperator {
      span {
        left: -0.4rem;
      }
    }
  }
}

.card {
  padding: 2rem;

  .card-title {
    color: var(--color-oranged);
    padding: 1rem 0;
    font-weight: bold;
    letter-spacing: 0.08rem;
  }
  .card-content {
    padding: 0.5rem;
  }
  .card-label {
    display: block;
  }
  .card-label-description {
    /* color: #616161; */
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  .card-description {
    padding: 0.5rem;
    /* color: #616161; */
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
