* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 1rem;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fbfafa;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

main {
  margin: 0.5rem;
}

section {
  font-size: 1.1rem;
}

h1 {
  font-family: sans-serif;
  color: #007997;
  font-size: 3rem;
}

.hdrhr {
  border: 1px solid #007997;
}

header p,
header .age-display {
  line-height: 0.3;
}

.mypic {
  transition: transform 0.3s;
  border-radius: 2rem;
}

.mypic:hover {
  transform: translatey(1rem) scale(1.1);
  cursor: pointer;
  box-shadow: 0.2rem 0.5rem 1rem #007997;
}

h2 {
  color: #007997;
  margin-top: 2rem;
}

.per-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Age calc */

.ag,
.wpg {
  font-size: large;
  font-style: italic;
  color: brown;
}

sub {
  font-size: smaller;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#bdt {
  border: none;
  font-size: large;
  font-style: italic;
  color: brown;
  outline: 0;
}

/* footer-------------- */
footer {
  margin: 0 2.5rem;
  font-size: small;
}

footer :last-child {
  text-align: center;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  header {
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px) {
}
